name: CI
on: [push, pull_request]
permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/github-actions/install-rust@main
        with:
          # Default toolchain to install.
          toolchain: stable
          # Components to add (comma-separated), default is empty.
          component: rustfmt,clippy
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v5
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest
      - name: check formatting
        run: cargo fmt --all --check
      - name: typecheck
        run: cargo check --all-targets
      - name: clippy lint
        run: cargo clippy --all-targets
      - name: doctests
        run: cargo test --doc
      - name: tests
        run: cargo nextest run --profile ci
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "**/target/nextest/ci/junit.xml"
          check_name: unit tests
